.hidden {
    display: none;
}

#dashboardHeader, #cityForm, .dayHeader{
    text-shadow: 1px 1px 3px black;
}
span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}

#cityForm {
    border-radius: 4px;
    box-shadow: 1px 1px 10px black;
}
#searchBtn {
    box-shadow: 0px 0px 5px black;
}

.histBtn{
    border-radius: 2px;
    box-shadow: 0px 0px 2px black;
}

.dayForecast {
    box-shadow: 1px 1px 10px black;
}

